.header {
  position: sticky;
  margin: 0;
  width: 100%;
  height: 2.5rem;
  background-color: #696969;
  display: flex;
  justify-content: left;
  align-items: center;
  min-width: 56rem;
}
.label {
  position: static;
  width: 318px;
  height: 38px;
  left: 16px;
  top: 4px;
  margin-left: 20px;

  font-family: Saira Stencil One;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 38px;
  color: #e8e8e8;
}
.container-home {
  display: grid;
  grid-template-columns: 2fr 1.6fr;
  height: 91.5vh;
  width: 100%;
  margin: 0;
  border: 0;
}
.footer {
  background-color: #696969;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-width: 56rem;
  height: 2.5rem;
}
.author {
  max-height: 100%;
  height: 31px;
  font-family: Saira;
  font-style: normal;
  font-weight: bolder;
  font-size: 20px;
  margin-left: 1em;
  color: #ffffff;
  min-width: 200px;
  float: right;
}
.developer {
  width: 130px;
  height: 31px;
  font-family: Saira;
  font-style: normal;
  font-weight: bolder;
  font-size: 20px;
  line-height: 31px;
  color: #cbcaca;
  margin-left: 75vw;
  float: right;
}
h2 {
  margin: 0;
}

.information {
  margin-left: 0.5em;
  max-height: 100%;
  min-width: 20rem;
}

/* 



 */

input {
  padding-left: 10px;
  width: 97%;
  display: inline-block;
}
input,
#description {
  height: 1.6rem;
  background-color: rgba(177, 177, 177, 0.3);
  display: inline-block;
}
#description {
  height: 6.5rem;
  padding: 10px;
  word-wrap: break-word;
  width: 95%;
}
button {
  height: 1.6rem;
  background-color: #717171;
  color: white;
  width: 48%;
}
input,
button,
#description {
  border-radius: 6px;
  border: 0;
  font-family: Saira;
  font-weight: 500;
  margin: 5px;
}
.Line {
  columns: 2;
  column-gap: 0px;
}

.container-input {
  align-items: center;
  margin: 0.5em 1em 1em 0em;
  border: 0;
  width: 100%;
}
.columns {
  display: flex;
  column-gap: 10px;
}
.col1,
.col2 {
  display: grid;
  width: 48%;
}

.statistic {
  padding-top: 1em;
  border-top: 2px solid rgba(175, 163, 163, 0.5);
  display: inline-table;
  font-family: Saira;
  font-size: 0.8em;
  color: #000000;
  width: 100%;
}
#numInfo,
.stats {
  color: #000000;
  font-weight: 400;
}

.product {
  border-right: 2px solid rgba(175, 163, 163, 0.5);
}
.prod-item {
  padding-left: 5px;
  border-radius: 12px;
  border: 2px solid rgb(212, 110, 110);
  margin: 15px;
  background-color: rgba(177, 177, 177, 0.3);
  font-family: Saira;
  font-weight: bold;
  min-width: 500px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  max-height: 5em;
}
.prod-cont {
  text-transform: uppercase;
  margin: 0.5em;
  max-height: 60px;
}
.id {
  font-weight: lighter;
  color: rgba(0, 0, 0, 0.5);
  font-size: 10px;
}
.status {
  font-weight: lighter;
}

.del {
  position: relative;

  min-width: 14em;
  justify-content: right;
}

.price {
  font-size: 1.5em;
  font-weight: 400;
  margin-top: 1.8em;
  float: right;
}

.delete:before,
.delete:after {
  content: "";
  width: 12px;
  height: 1.4px;
  background: #000000;
  position: absolute;
  cursor: pointer;
}

.delete:before {
  transform: rotate(45deg);
}

.delete:after {
  transform: rotate(-45deg);
}
.delBtn {
  position: relative;
  float: right;
  margin-right: 1.2em;
  margin-top: 0.7em;
}

.Avaliable {
  border-color: #6fcf97;
}
.Busy {
  border-color: #f2994a;
}
.Unavailable {
  border-color: #eb5757;
  opacity: 0.5;
}
.status {
  opacity: 1;
  margin-left: 10px;
}

.container-status {
  display: flex;
}
.container-error {
  font-size: large;
  background-color: #f58f8f;
  color: white;
  width: 94%;
  padding: 2px;
  text-align: center;
  border-radius: 5px;
  margin: 5px;
  position: static;
}
select {
  border-radius: 4px;
  border-color: rgba(177, 177, 177, 0.3);
  background-color: rgba(177, 177, 177, 0.3);
}
